html {
  background: #e0dede;
  background-size: cover;
}

body,html {
  margin: 10;
  padding: 0;
  font-family: sans-serif;
}

.projectThumbnail{
  width:250px;
  height:150px;
  border:1px solid black;
  
}